.pageon .box{
    position: fixed;
    top: calc(100% - 3rem);
    transform: translate(-50%, -50%);
    left: 50%;
    background: var(--sg-maincolor-orangdark);
    color: var(--bgcolor-Light);
    z-index: 100000000;
    border-radius: 10px 10px 0px 0px;
}
/* .pageon::before{
    width: 100%;
    height: 100%;
    position: fixed;
    content: '';
    inset: 0;
    background: var(--sg-maincolor-orangdark);
    opacity: 0.1;
    z-index: 1000000;
} */

.pageon .box h2{
    padding: 2rem;
    display: block;
    text-align: center;
}
.webhead{
    width: 100%;
    top: 20px;
    left: 0rem;
    right: 0rem;
    position: fixed;
    margin: 0 auto;
    z-index: 1000;
}
.webhead .wh-box{
    width: 100%;
    max-height: 55px;
    max-width: 900px;
    margin: 0rem auto;
    border-radius: 50rem;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    backdrop-filter: blur(15px);
    /* border: 1px solid #e4e4e7; */
    background: #ffffffc9;
    align-self: center;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.webhead .logo{
    width: 50px;
    height: 50px;
    font-weight: 800;
    color: var(--sg-bglight);
    margin: 0rem 0.5rem;
    /* background: var(--sg-color-text); */
}
.webhead .logo h1{
    font-weight: 600;
}
.webhead .btn-main{
    gap: 0.5rem;
    margin: 0rem 0.5rem;
}
.webhead .btn-main .btn{
    height: 2.4rem;
    line-height: 0rem;
    min-width: 108px;
    padding: 0rem;
    margin-right: 0.2rem;
    border-radius: 50rem;
    font-size: 1rem;
    overflow: hidden;
    font-weight: 500;
    background: var(--sg-bglight);
    border: 1px solid var(--sg-border-00);
    overflow: initial;
    position: relative;
}
.webhead .btn-main .btn:first-child{
    width: max-content;
    padding: 0rem 0.6rem;
    padding-right: 0rem;
    margin-right: 0rem;
    color: var(--sg-bglight);
    border: none;
    background: var(--sg-color-def);
}
.webhead .btn-main .btn:first-child .ip{
    min-width: 1.1rem;
    min-height: 2rem;
    width: 1.8rem;
    height: 1.8rem;
    background: transparent;
}
.webhead .btn-main .btn:first-child .ip svg{
    width: 1.2rem;
    margin-right: 0.25rem;
    color: var(--sg-bglight);
}.webhead .btn-main .btn:first-child .ip path{
    stroke: var(--sg-bglight);
    stroke-width: 2.2;
}
.webhead .btn-main .btn:last-child{
    min-width: max-content;
    padding: 0rem 0.5rem;
    border: none;
    display: none;
}
.webhead .link-box{
    height: 100%;
}
.webhead .link-box ul{
    width: max-content;
    margin: 0rem auto;
    max-width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    height: 100%;
}
.webhead .link-box ul::-webkit-scrollbar{
    display: none;
}
.webhead .link-box ul li{
    margin: 0rem 1rem;
    height: 100%;
}
.webhead .link-box ul li:first-child{
    display: none;
}
.webhead .link-box ul li a{
    font-size: 1rem;
    line-height: 0;
    height: 100%;
    font-weight: 500;
    position: relative;
}
.webhead .link-box ul li a.active{
    color: var(--sg-color-brand);
}
.webhead .link-box ul li a.active::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-bottom: 4px solid var(--sg-color-brand);
}
/* ===============aside==================> */
.web-main-aside{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.295);
    justify-content: center;
    align-items: end;
    z-index: 9999999999;
    display: none;
}
.web-main-aside-active{
    display: block;
}
.web-main-aside .webmas-con{
    width: 100%;
    height: max-content;
    position: relative;
    background: var(--sg-bglight);
    border-radius: 1.1rem 1.1rem 0rem 0rem;
    margin-top: 100vh;
    transition: all ease-in-out 0.3s;
}
.web-main-aside-active .webmas-con{
    margin-top: 0rem;
}
.web-main-aside .webmas-con::before{
    position: absolute;
    content: '';
    width: 5rem;
    height: 0.5rem;
    left: 50%;
    top: -1rem;
    cursor: grab;
    transform: translate(-50%, -50%);
    border-radius: 50rem;
    background: var(--sg-bglight);
}
.web-main-aside .webmas-con .weasc-box{
    overflow: hidden;
    overflow-y: auto;
    overflow-x: visible;
    -webkit-overflow-scrolling: none;
    height: 0px;
    transition: all ease-in-out 0.5s;

}
.web-main-aside-active .webmas-con .weasc-box{
    height: calc(100vh - 20vh);
}
.web-main-aside .webmas-con .link-box ul{
    flex-direction: column !important;
    gap: 0.8rem;
    padding: 2rem 0rem;
}
.web-main-aside .webmas-con .link-box ul li{
    width: 100%;
    display: block;
}
.web-main-aside .webmas-con .link-box ul li a{
    cursor: pointer;
    padding: 0rem;
    margin: 0 0.8rem;
    padding: 0rem 0.8rem;
    gap: 0.8rem;
    border-radius: 0.8rem;
    height: 60px;
    font-size: 1.25rem;
    font-weight: 500;
    justify-content: start;
    transition: all ease-in-out 0.3s;
    background: transparent;
}
.web-main-aside .webmas-con .link-box ul li a.active{
    color: var(--sg-color-brand);
}
@media screen and (max-width: 900px) {
    .webhead{
        height: max-content;
        width: calc(100% - 32px);
        border-radius: 50rem;
        background: transparent;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        backdrop-filter: blur(15px);
        background: #ffffffd4;
    }
    .webhead .wh-box{
        width: initial;
        height: 55px;
        margin: 0rem auto;
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none; 
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .webhead .wh-box::-webkit-scrollbar{
        display: none;
    }
    .webhead .logo{
        min-width: 50px;
    }
    .webhead .btn-main{
        position: sticky;
        right: 1rem;
        background: transparent;
        /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
    }
    /* .webhead .btn-main a.btn:first-child{
        display: none;
    } */
}
/* @media screen and (max-width: 530px) {
    .webhead .link-box ul{
        display: none;
    }
    .webhead .btn-main .btn:last-child{
        display: flex;
    }
} */