.mb-box > .head{
    margin: 0 auto;
    margin-top: 130px;
    max-width: 700px;
    padding-bottom: 1.5rem;
}
.mb-box > .head blockquote{
    text-align: center;
}
.mb-box > .head blockquote h2{
    font-size: 2.2rem;
    font-weight: 800;
    margin: 0 auto;
    line-height: 1.4;
}
.mb-box > .head blockquote > p{
    display: block;
    margin: 1rem auto;
    line-height: 1.6;
    font-weight: 500;
    max-width: 500px;
    color: rgb(82 82 91 / 100);
}
.mb-box > .head blockquote .btn{
    width: 130px;
    border-radius: 50rem;
    border: 1px solid var(--sg-border-00);
    background: var(--sg-bllight);
    margin: 0rem 0.2rem;
}
.mb-box > .head blockquote .btn:first-child{
    color: var(--sg-bglight);
    background: var(--sg-color-brand);
}
.mb-box > .head blockquote .btn svg{
    width: 1.1rem;
    height: initial;
    margin-right: 0.2rem;
}
.mb-box > .head blockquote .list-btn > p{
    font-size: 0.8rem;
    margin: 0.7rem;
    color: rgb(82 82 91 / 100);
}

/* -----------read node---------------- */
/* .read-node{
    width: 100%;
    max-width: 1000px;
    margin: 4rem auto;
    text-align: center;
    overflow: hidden;
}
.read-node .rn-con{
    position: relative;
    width: 100%;
}
.read-node ul{
   margin-top: 0.8rem;
}
.read-node .rnh-box{
    height: 35px;
    font-size: 0.8rem;
}
.read-node .rnh-box h2{
    color: rgb(82 82 91 / 100);
    font-size: 0.8rem;
}
.read-node ul li{
    min-height: 60px;
    padding: 0.5rem 0.8rem;
    margin: 0rem 0.5rem;
    border-radius: 50rem;
    background: var(--sg-bglight);
}
.read-node ul li p{
    font-size: 0.9rem;
    font-weight: 800;
     color: rgb(82 82 91 / 100);
} */

@media screen and (max-width: 600px) {
    .mb-box > .head{
        margin: 0rem 0.8rem;
        margin-top: 130px;
    }
    .mb-box > .head blockquote h2,
    .about .rt-box > h2{
        font-size: 1.85rem;
    }
}

@media screen and (max-width: 530px) {
    .mb-box > .head blockquote h2,
    .about .rt-box > h2{
        font-size: 1.5rem;
    }
}